/*--------------WAVES MAIN CSS-----------------*/
html,body{ 
    
    width: 100%;!important;
    margin: 0px; !important;
    padding: 0px;!important;
    overflow-x: hidden;
  

}


h1{
    font-size: 5vw;
 
    text-align: left;
    padding-left:8;

}


h3{
    color:white;
}


 
/*-=-=-=-=-=-=-=-=MENU ITEMS=-=-=-=-=-=-=-=-=-=*/

.menuContainer{

    display:flex;
    justify-content:space-between;
    flex-flow: row;
    align-items:center;
    
    border-bottom: 1px;
    border-bottom-color: whitesmoke;
    border-bottom-style: solid;
    
}

.menuContainer:hover{
    background-color: whitesmoke}

.menuButtons{
    width: 70px;
    height:60px;
    margin:4px;
    border-radius: 10px;
    border-color: black;
    border-width: 0;
    border-style:solid;
    
    
    display:flex;
    justify-content: space-around;
    align-items:center;
    
    cursor: pointer;
   
    
   

    

}

#leftIcon{
    
    color: black;
    font-size: 50px;
     transition: font-size 0.1s linear;
}

#leftIcon:hover{
    font-size: 60px;
}


.menuContent{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out;
    
}




/*--------------SITE BODY----------------------*/
.bodyWrap{
   
    z-index: -1000;
    
 
  background: linear-gradient(238deg, #fd8800, #fd008f, #9700fd, #003dfd, #05c7e6, #4bd58d);
  background-size: 1200% 1200%;
  -webkit-animation: rainbow 30s ease infinite;
  animation: rainbow 30s ease infinite;
}
@-webkit-keyframes rainbow {
  0% { background-position: 0% 50% }
  50% { background-position: 100% 50% }
  100% { background-position: 0% 50% }
}
@keyframes rainbow {
  0% { background-position: 0% 50% }
  50% { background-position: 100% 50% }
  100% { background-position: 0% 50% }
}



/*-----------------HEADER----------------------*/
.header{
    color:aqua;
    background-color: black; 
    text-align: center;
    padding:10;
    width:100%;
}


.mainLogo{
    width:50%;
    z-index: 102;
}


.headerContain{
    position:absolute;
    z-index: 100;
    width: 100%;
}


.headerImg1{
    max-height:783 ;
    max-width:910 ;
    float:left;
    z-index: 1;
    position: relative;
    right:30px;
    top:-1;
}


.headerImg2{
    z-index: 1;
    max-height: 812px;
    max-width: 749;
    float:right;
    position: relative;
    left:30px;
    top:-1;
}

/*-----------------Slider------

.slider {
  max-width: 100%;
  height: 300px;
   
  margin: 20px auto;
  position: relative;
}
.slide1,.slide2,.slide3,.slide4,.slide5 {
  position: absolute;
  width: 100%;
  height: 100%;
     border-radius: 10px;
}
.slide1 {
  background: url('/justinwaves/images/IMG_20180809_001407.jpg')no-repeat center;
      background-size: cover;
    animation:fade 24s infinite;
-webkit-animation:fade 24s infinite;

} 
.slide2 {
  background: url('/justinwaves/images/38131536_1981058028582027_1418499093663055872_o.jpg')no-repeat center;
      background-size: cover;
    animation:fade2 24s infinite;
-webkit-animation:fade2 24s infinite;
}
.slide3 {
    background: url('/justinwaves/images/22664330_10156635815353056_497420633_o.jpg')no-repeat center;
      background-size: cover;
    animation:fade3 24s infinite;
-webkit-animation:fade3 24s infinite;
}



@keyframes fade
{
  0%   {opacity:1}
  33.333% { opacity: 0}
  66.666% { opacity: 0}
  100% { opacity: 1}
}
@keyframes fade2
{
  0%   {opacity:0}
  33.333% { opacity: 1}
  66.666% { opacity: 0 }
  100% { opacity: 0}
}
@keyframes fade3
{
  0%   {opacity:0}
  33.333% { opacity: 0}
  66.666% { opacity: 1}
  100% { opacity: 0}
}

----------------*/

/*-----------------BLOG----------------------*/
.bioWrap{
    padding: 20px;
    
}

.blogWrapper{
    max-width:100%;
    margin-top:27%;
    margin-bottom: 17%;
    z-index: 100;
    text-align: center;
    
}

.blogContent{
   background-color: white;
   
    text-align: center;
    
    padding-top:0;
    padding-left:10;
    padding-right:10;
    padding-bottom: 10;
    border-radius: 10px;
    
    display:flex;
    justify-content: space-around;
    flex-flow: column;
    box-shadow: 0px 0px 50px #000;
}


.recordingWrap{
    margin-top:50;
}


.wavesFace{
    max-width: 60%;

    padding-right: 25px; 
    padding-bottom: 25px; 
    float: left;
    
     border-radius: 50%;
  -webkit-shape-outside:circle();
  shape-outside:circle();

}

#socialContent{
 
}

.contactIconWrap{
    display: flex;
    justify-content: space-around;
    flex-flow: row;
    align-content: center;
    
    margin:20px;
}


#contactIcons{
    font-size: 20vw;    
    color: black
}

/*----------BACKGROUND ELEMENTS-----------*/

.fernContain{

width:100%;

margin-bottom: -40%;
margin-top:-3% ;
   overflow: hidden; 
}




.fern1{
    position: fixed;
    top: -40 ;
    left:-1%;
    margin-left:-30;
    z-index: 2;
}


.fern2{
     -webkit-transform: scaleX(-1);
    transform: scaleX(-1);

     position: fixed;
     top: 40 ;
     right:-30;
     z-index: 2;
}



.bottomImages{ 

-webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    transform: scaleY(-1);
    margin-bottom: -1;
   overflow: hidden;
    
}




/*--------------Footer----------------------*/
.headerImg3{
    max-height:783 ;
    max-width:910 ;
    float:left;
    z-index: 1;
    
    position: relative;
    right:15px;
    top:0;
 
   
}

.headerImg4{
  
    z-index: 1;
    max-height: 812px;
    max-width: 749;
    float:right;
    position: relative;
    left:30px;
     top:0;
    
}


.footerWrap{
    text-align: center;
    background-color: black;
    height: 200px;
    width: 100%;
    margin-top: -1px;
    position: absolute;
    border-top-style: solid;
    border-top-width: 0px;
    border-top-color: black;
    z-index: 1000;
    overflow: hidden;
    display: flex;
    justify-content: center
 
}

.footerTag{
    position: absolute;
    bottom:0;
    left: 10px;
    z-index: 1000;
}

.instagram-media{
  margin-top:30px;  
    
}

.footerLogo{
    margin-top:30;
max-width: 30%;
    margin-bottom: 30;

   

}